*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}
/* Global CSS start */

.title{
    width: 100%;
}
.title h6{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #008ed6;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.title h1{
    font-size: 54px;
    line-height: 53px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px 0px;
    
}
/* Global CSS end */
/* Header section start */
.header-section{
    width: 100%;
    background: url(../images/banner.png) center top no-repeat;
    background-size: cover;
}
.mainmenu{
    width: 100%;
}
.mainmenu .bg-light{
    background: transparent !important;
}
.mainmenu .navbar-light .navbar-nav .nav-link.active{
    color:#fff;
    background: url(../images/hr.png) center bottom no-repeat;
    background-size:  auto;
}
.mainmenu .navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px 10px;
}
.mainmenu .navbar-light .navbar-nav .nav-link:hover, .mainmenu .navbar-light .navbar-nav .nav-link:focus{
    background: url(../images/hr.png) center bottom no-repeat;
    background-size:  auto;
}
/* Header section end */

/*Banner section start */
.banner{
    width: 100%;
    padding: 100px 0px;
}
.inner-banner{
    width: 100%;
    padding: 40px 0px;
    
}
.inner-banner h6{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #008ed6;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.inner-banner h1{
    font-size: 54px;
    line-height: 53px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    margin: 20px 0px;
}
.inner-banner p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #999999;
}
.inner-btn{
    width:100%;
    margin: 50px 0px 0px;
}
.inner-btn .btn-primary{
    padding: 15px 25px;
    font-size: 14px;
    font-weight:700;
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 20px;
    transition: 1s;
}
.inner-btn .btn-primary:hover, .inner-btn .btn-primary:focus{
    background: transparent;
    border: 1px solid #4d4e53;
    border-radius: 3px;
}
.inner-btn .btn-light{
    padding: 15px 25px;
    font-size: 14px;
    font-weight:700;
    color: #fff;
    background: transparent;
    border: 1px solid #4d4e53;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 1s;
}
.inner-btn .btn-light:hover, .inner-btn .btn-light:focus{
    background:#008ed6 ;
    border: 1px solid#008ed6;
    border-radius: 3px;
}
/*Banner section end */

/*Feature section start */
.feature{
    width: 100%;
    padding: 80px 0px;
}
.feature .title{
    text-align: center;
}
.inner-feature{
    width: 100%;
    padding: 40px 40px 0px;
    text-align: center;
}
.icons-inner{
    width: 95px;
    height: 95px;
    line-height: 95px;
    margin: 0px auto;
    border: 1px solid #eee;
    border-radius: 100%;
}
.icons-inner h4{
    font-size: 22px;
    margin: 20px 0px;
    font-weight: 600;
    color: #999999;
}
.icons-inner p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #999999;
}
/*Feature section end */

/*About-long section start */
.about-long{
    width: 100%;
    padding: 80px 0px;
    border-top: 1px solid #eee;
}
.inner-about-long{
    margin: 44px 0px;
}

.inner-about-long.title{
    margin-bottom: 20px;
}

.title h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #008ed6;
    text-transform: uppercase;
    
}

.title h1{
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}
.inner-about-long{
    width: 100%;
    padding: 0px 95px;
}
.inner-about-long p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #999999;
}
.list-ablong img{
    margin-right: 15px;
    width: 11px;
}
/*About-long section end */

/*About-short section start */
.about-short{
    width: 100%;
    padding: 80px 0px;
    background: #f2f2f2;
}

.inner-about-short{
    width: 100%;
    margin-top: 90px;
}

.inner-about-short .title{
    margin-bottom: 20px;
}

.inner-about-short p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #999999;
}
/*About-short section end */

/* Testimonial Section Start */
.testimonial{
    width: 100%;
    padding: 80px 0px;
    background: url(../images/ppp.png) center top no-repeat;
    background-size: cover;
}
.inner-testimonial{
    width: 100%;
    text-align: center;    
}
.inner-testimonial .title {
    margin-bottom: 50px;
}
.inner-testimonial .title h1{
    color: #fff;
    font-size: 45px;
    font-weight: 400;
}
.owl-carousel .owl-item h4{
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    font-style: italic;
    font-weight: 600;
    
}

.owl-carousel .owl-item img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.owl-carousel .owl-item p {
    margin-top: 18px;
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}
.owl-carousel .owl-item h5 {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.owl-carousel .owl-item .mar{
    margin: 50px 0px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}
/*Testimonial section end */

/* Eye-catcher Section Start */
.eye-catcher{
    width: 100%;
    padding: 50px 30px;
    background: #15141a;
}
.eye-catcher h3{
    color: #fff;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
}
.eye-catcher h3 span{
    font-weight: 300;
}
.eye-catcher .inner-btn{
    width:100%;
    margin: 0px 0px;
}
.eye-catcher .inner-btn .btn-light{
    padding: 15px 25px;
    font-size: 14px;
    font-weight:700;
    color: #fff;
    background: transparent;
    border: 1px solid #4d4e53;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 20px;
    transition: 1s;
}
.eye-catcher .inner-btn .btn-light:hover, .inner-btn .btn-light:focus{
    background:#008ed6 ;
    border: 1px solid#008ed6;
    border-radius: 3px;
}
.eye-catcher .inner-btn .btn-primary{
    padding: 15px 25px;
    font-size: 14px;
    font-weight:700;
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 1s;
}
.eye-catcher .inner-btn .btn-primary:hover, .inner-btn .btn-primary:focus{
    background: transparent;
    border: 1px solid #4d4e53;
    border-radius: 3px;
}
/* Eye-catcher Section end  */

/* Pricing Section Start */
.pricing{
    width: 100%;
    padding: 80px 0px;
}

.pricing .title{
    text-align: center;
    margin-bottom: 50px;
}
.pricing .title h1{
    color: black;
}
.main-price{
    width: 100%;
    border: 1px solid #eee;
    text-align: center;

}
.price-head{
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
}
.price-head h2 {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}
.price-inner{
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid #eee;
}
.price-inner h1{
    margin-bottom: 0px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.price-inner h1 sup{
    top: -.5em;
    font-size: 30px;
    font-weight: 500;
}
.price-inner p{
    font-size: 14px;
    margin: -11px 0px 0px;
    color: #999;
}
.price-content{
    width: 100%;
    padding: 40px 70px;
}
.price-content p{
    font-size: 14px;
    margin: 0px 0px 30px;
    color: #999;
}
.price-content p a{
    color: #08c;
}
.price-content .btn-info{
    padding: 15px 25px;
    font-size: 14px;
    font-weight:700;
    color:#008ed6;
    background: transparent;
    border: 1px solid #eee;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 20px;
    transition: 1s;
}

.main-price:hover .price-content .btn-info, .main-price .price-content .btn-info:focus{
    background:#008ed6 ;
    border: 1px solid#008ed6;
    color:#fff;
    
}
.main-price:hover .price-head h2{
    color:#008ed6;
}
.main-price:hover  .price-inner{
    background:#008ed6 ;
    
}
.main-price:hover .price-inner h1,.main-price:hover .price-inner p{
    color:#fff;
}

/* Pricing  Section end */

/* contact-us Section Start */
.contact-us{
    width: 100%;
    padding: 80px 0px 0px;
    background: #eee;
}
.contact-us .title{
    text-align: center;
    margin-bottom: 50px;
}

.info{
    width: 100%;
    padding: 30px 0px 80px;
    text-align: center;
    
}
.info .fa{
    font-size: 32px;
    color:#008ed6 ;
    margin-bottom: 20px;
}
.info p{
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}
.main-form {
    width: 100%;
    padding: 80px 60px;
    background: #15141a;
    margin: -70px auto;
    position: relative;
    z-index: 1;
    
}
.main-form .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
    background: transparent;
    border: 1px solid #444348;
    color: #fff;
}
.main-form .text-right{
    text-align: right;
}

.main-form .btn-info{
    padding: 15px 25px;
    font-size: 14px;
    font-weight:700;
    color:#fff;
    background: #008ed6;
    border: 1px solid#008ed6;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 20px;
    transition: 1s;
}
.main-form:hover .btn-info, .main-form .btn-info:focus{
    background:transparent ;
    border: 1px solid#008ed6;
    color:#008ed6;   
}
.map{
    width: 100%;
}
/*contact-us Section end */

.footer{
    width: 100%;
    padding: 40px 0px;
    background: #15141a;
    
}
.footer .paragraph p{
    font-size: 11px;
    line-height: 21px;
    color: #444348;
    text-align: center;
    margin-left: 40px;
    margin-top: -15px;
    text-transform: uppercase;
}
.social-icons {
    width: 100%;
    text-align: center;
    
}
.social-icons li{
    font-size: 15px;
    text-align: center;
    list-style: none;
    display: inline-block;
    width:40px;
    height: 40px;
    line-height: 40px;
    color:yellow ;  
    transition: 1s;
    margin: 0px 3px;  
}
.social-icons li:hover{
    background: white;
    cursor: pointer;
}
/* footer-section code end */
